<form [formGroup]="loginForm" (ngSubmit)="enviar()">
  <input type="email" formControlName="email" placeholder="E-mail" />
  <input type="password" formControlName="password" placeholder="Senha" />
  <button type="submit">Entrar</button>
</form>

<p *ngIf="loginForm.get('email')?.invalid">
  E-mail inválido
</p>

<p *ngIf="loginForm.get('password')?.invalid">
  Senha inválida
</p>

<p *ngIf="loginForm.get('password')?.errors?.['minlength']">
  A senha deve ter pelo menos 8 caracteres
</p>
<p *ngIf="loginForm.get('password')?.errors?.['maxlength']">
  A senha deve ter no máximo 16 caracteres
</p>

<p *ngIf="loginForm.get('password')?.errors?.['maxlength'] || loginForm.get('password')?.errors?.['minlength']">
  A senha deve ter no máximo 16 caracteres e no mínimo 8 caracteres
</p>